.App {
  text-align: center;
}

.titleBar {
  height:fit-content;
  padding: 20px;
  background-color: darkslategrey;
  font-size: large;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.birdPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.birdCage {
  padding: 20px; 
}

.image {
  float: left;
  height: 400px;
  padding: 50px 50px 0px 50px;

}

.birdName {
  font-size:x-large;
  color: darkslategrey;
  font-weight:600;
  margin-bottom: 10px;
}

.birdGenus {
  font-size: x-small;
  margin-bottom: 30px;
}

.conservationStatus {
  font-size:small;
  margin-bottom: 15px;
}
.conservationStatus span{
  font-weight: bold;
}

button {
  background-color: darkslategrey;
  color:white;
  border-radius: 6px;
  border: 1px solid black;
  margin: 5px;
}

a {
  text-decoration:none;
  color:white;
}



